* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background: #f5f6f7;
}

h1 {
	background-color: rgb(18, 111, 216);
	color: azure;
	text-align: center;
	padding: 10px 0 10px 0;
}

.card {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 16px;
	max-width: 1400px;
	margin: 0 auto;
	padding: 20px 20px;
}

p {
	display: flex;
	vertical-align: middle;
	align-items: center;
	height: 30px;
	object-fit: cover;
	border: 10px aquamarine;
	border-radius: 15px;
	*/
}

form {
	width: 60vw;
	max-width: 500px;
	min-width: 300px;
	margin: 0 auto;
	padding-bottom: 2em;
}

label {
	display: block;
	margin: 0.5rem 0;
}

input {
	margin: 10px 0 0 0;
	width: 100%;
	min-height: 2em;
	border-radius: 15px;
}

input[type="submit"] {
	display: block;
	width: 60%;
	margin: 1em auto;
	height: 2em;
	font-size: 1.1rem;
	background-color: rgb(18, 111, 216);
	border-color: white;
	min-width: 300px;
	color: white;
	border-radius: 15px;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgb(18, 111, 216);
	color: white;
	text-align: center;
}